// Microsoft Visual C++에서 생성한 리소스 스크립트입니다.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 리소스에서 생성되었습니다.
//
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
	"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)\r\n"
	"LANGUAGE 18, 1\r\n"
	"#pragma code_page(949)\r\n"
    "#include ""res\\PartModelingEngine.rc2""  // Microsoft Visual C++에서 편집하지 않은 리소스입니다.\r\n"
    "#include ""afxres.rc""  	// 표준 구성 요소입니다.\r\n"
    "#endif\r\n"
    "\0"
END

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED


#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// 버전
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "041203b5"
		BEGIN 
            VALUE "CompanyName", "TODO: <회사 이름>"
            VALUE "FileDescription", "TODO: <파일 설명>"
			VALUE "FileVersion",     "1.0.0.1"
			VALUE "InternalName",    "PartModelingEngine.dll"
            VALUE "LegalCopyright", "TODO: (c) <회사 이름>.  All rights reserved."
			VALUE "OriginalFilename","PartModelingEngine.dll"
            VALUE "ProductName", "TODO: <제품 이름>"
			VALUE "ProductVersion",  "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Translation", 0x0412, 949
    END
END

#endif
#ifndef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3 리소스에서 생성되었습니다.
//
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE 18, 1
#pragma code_page(949)
#include "res\\PartModelingEngine.rc2"  // Microsoft Visual C++에서 편집하지 않은 리소스입니다.
#include "afxres.rc"  	// 표준 구성 요소입니다.
#endif

/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED가 아닙니다.

